

# Temporary files
*.*~*
*.DS_Store

# ignore large bow files
analysis/features/mfw/bow_all_5gram_chars_multi-word.csv
analysis/features/mfw/bow_all_5gram_chars_mid-word.csv

# ignore large topic model files
analysis/features/topics/3_models/word-weights_*
analysis/features/topics/3_models/topic_state_*


# ignore texts that still are under copyright

analysis/family-resemblance/texts/corpus_lemmata_N/nh0003.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0019.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0051.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0075.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0083.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0084.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0098.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0108.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0129.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0136.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0157.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0189.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0200.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0204.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0205.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0206.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0208.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0209.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0211.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0212.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0217.txt
analysis/family-resemblance/texts/corpus_lemmata_N/nh0240.txt

analysis/family-resemblance/texts/corpus_segs/nh0003§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0019§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0051§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0075§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0083§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0084§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0098§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0108§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0129§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0136§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0157§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0189§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0200§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0204§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0205§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0206§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0208§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0209§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0211§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0212§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0217§*.txt
analysis/family-resemblance/texts/corpus_segs/nh0240§*.txt

analysis/family-resemblance/texts/corpus_tagged/nh0003.trt
analysis/family-resemblance/texts/corpus_tagged/nh0019.trt
analysis/family-resemblance/texts/corpus_tagged/nh0051.trt
analysis/family-resemblance/texts/corpus_tagged/nh0075.trt
analysis/family-resemblance/texts/corpus_tagged/nh0083.trt
analysis/family-resemblance/texts/corpus_tagged/nh0084.trt
analysis/family-resemblance/texts/corpus_tagged/nh0098.trt
analysis/family-resemblance/texts/corpus_tagged/nh0108.trt
analysis/family-resemblance/texts/corpus_tagged/nh0129.trt
analysis/family-resemblance/texts/corpus_tagged/nh0136.trt
analysis/family-resemblance/texts/corpus_tagged/nh0157.trt
analysis/family-resemblance/texts/corpus_tagged/nh0189.trt
analysis/family-resemblance/texts/corpus_tagged/nh0200.trt
analysis/family-resemblance/texts/corpus_tagged/nh0204.trt
analysis/family-resemblance/texts/corpus_tagged/nh0205.trt
analysis/family-resemblance/texts/corpus_tagged/nh0206.trt
analysis/family-resemblance/texts/corpus_tagged/nh0208.trt
analysis/family-resemblance/texts/corpus_tagged/nh0209.trt
analysis/family-resemblance/texts/corpus_tagged/nh0211.trt
analysis/family-resemblance/texts/corpus_tagged/nh0212.trt
analysis/family-resemblance/texts/corpus_tagged/nh0217.trt
analysis/family-resemblance/texts/corpus_tagged/nh0240.trt

analysis/family-resemblance/texts/txt/nh0084.txt
analysis/family-resemblance/texts/txt/nh0098.txt
analysis/family-resemblance/texts/txt/nh0108.txt
analysis/family-resemblance/texts/txt/nh0136.txt
analysis/family-resemblance/texts/txt/nh0208.txt
analysis/family-resemblance/texts/txt/nh0212.txt

analysis/family-resemblance/texts/txt_full/nh0003.txt
analysis/family-resemblance/texts/txt_full/nh0019.txt
analysis/family-resemblance/texts/txt_full/nh0051.txt
analysis/family-resemblance/texts/txt_full/nh0075.txt
analysis/family-resemblance/texts/txt_full/nh0083.txt
analysis/family-resemblance/texts/txt_full/nh0084.txt
analysis/family-resemblance/texts/txt_full/nh0098.txt
analysis/family-resemblance/texts/txt_full/nh0108.txt
analysis/family-resemblance/texts/txt_full/nh0129.txt
analysis/family-resemblance/texts/txt_full/nh0136.txt
analysis/family-resemblance/texts/txt_full/nh0157.txt
analysis/family-resemblance/texts/txt_full/nh0189.txt
analysis/family-resemblance/texts/txt_full/nh0200.txt
analysis/family-resemblance/texts/txt_full/nh0204.txt
analysis/family-resemblance/texts/txt_full/nh0205.txt
analysis/family-resemblance/texts/txt_full/nh0206.txt
analysis/family-resemblance/texts/txt_full/nh0208.txt
analysis/family-resemblance/texts/txt_full/nh0209.txt
analysis/family-resemblance/texts/txt_full/nh0211.txt
analysis/family-resemblance/texts/txt_full/nh0212.txt
analysis/family-resemblance/texts/txt_full/nh0217.txt
analysis/family-resemblance/texts/txt_full/nh0240.txt

analysis/family-resemblance/texts/txt_full_lower/nh0003.txt
analysis/family-resemblance/texts/txt_full_lower/nh0019.txt
analysis/family-resemblance/texts/txt_full_lower/nh0051.txt
analysis/family-resemblance/texts/txt_full_lower/nh0075.txt
analysis/family-resemblance/texts/txt_full_lower/nh0083.txt
analysis/family-resemblance/texts/txt_full_lower/nh0084.txt
analysis/family-resemblance/texts/txt_full_lower/nh0098.txt
analysis/family-resemblance/texts/txt_full_lower/nh0108.txt
analysis/family-resemblance/texts/txt_full_lower/nh0129.txt
analysis/family-resemblance/texts/txt_full_lower/nh0136.txt
analysis/family-resemblance/texts/txt_full_lower/nh0157.txt
analysis/family-resemblance/texts/txt_full_lower/nh0189.txt
analysis/family-resemblance/texts/txt_full_lower/nh0200.txt
analysis/family-resemblance/texts/txt_full_lower/nh0204.txt
analysis/family-resemblance/texts/txt_full_lower/nh0205.txt
analysis/family-resemblance/texts/txt_full_lower/nh0206.txt
analysis/family-resemblance/texts/txt_full_lower/nh0208.txt
analysis/family-resemblance/texts/txt_full_lower/nh0209.txt
analysis/family-resemblance/texts/txt_full_lower/nh0211.txt
analysis/family-resemblance/texts/txt_full_lower/nh0212.txt
analysis/family-resemblance/texts/txt_full_lower/nh0217.txt
analysis/family-resemblance/texts/txt_full_lower/nh0240.txt
